li {
    padding: 25px; 
    float: left;
    list-style-type: none;
    cursor: pointer;
}


.select-css {
    display: block;
    font-family: sans-serif;
    color: #444;
    line-height: 1.3;
    padding: .2em 1.4em .2em .8em;
    width: 5%;
    box-sizing: border-box;
    margin: 0;
    border: 2px solid black;
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: green;
}

.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}

.select-css option {
    font-weight:normal;
}