        <!--pagination template-->
        <div class="container">
            <div class="text-center">
                <!-- pager -->
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li><a (click)="setPage(1)" title="First"><<</a></li>
                    <li><a (click)="setPage(pager.currentPage - 1)" title="Previous"><</a></li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li><a (click)="setPage(pager.currentPage + 1)" title="Next">></a></li>
                    <li><a (click)="setPage(pager.totalPages)" title="Last">>></a></li>
                </ul>
            </div>
            <br>
            <!--dropdown to change options for paged items-->
            <select class="select-css" on-change="selectItemsToBePaged($event.target.value)">
                    <option selected>5</option>
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
            </select>
        </div>
