<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div>
<!--Here the employee list table comes in via routing-->
<router-outlet></router-outlet>
